.not-robot-checkbox{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.not-robot-text{
    margin-left: 10px;
}

.enter-result-container{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 230px;
}

.result-input-div{
    width: 230px;
    margin-top: 5px;
    text-align: center;
}

.enter-result-text-div{
    margin: 0 auto;
    display: inline-block;
    width: 230px;
    text-align: center;
}

.result-input{
    width:100px;
    text-align: center;
    text-indent: 13px;
}

.hidden{
    display: none;
}

